<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>

	<typeAliases>
		<typeAlias alias="KssAdminDO"
			type="com.xuguruogu.auth.dal.dataobject.KssAdminDO" />
		<typeAlias alias="KssLogLoginDO"
			type="com.xuguruogu.auth.dal.dataobject.KssLogLoginDO" />
		<typeAlias alias="KssSoftDO"
			type="com.xuguruogu.auth.dal.dataobject.KssSoftDO" />
		<typeAlias alias="KssKeySetDO"
			type="com.xuguruogu.auth.dal.dataobject.KssKeySetDO" />
		<typeAlias alias="KssOrderDO"
			type="com.xuguruogu.auth.dal.dataobject.KssOrderDO" />
		<typeAlias alias="KssSoftKeyDO"
			type="com.xuguruogu.auth.dal.dataobject.KssSoftKeyDO" />
		<typeAlias alias="KssSoftUserDO"
			type="com.xuguruogu.auth.dal.dataobject.KssSoftUserDO" />
		<typeAlias alias="KssFinanceDO"
			type="com.xuguruogu.auth.dal.dataobject.KssFinanceDO" />
		<typeAlias alias="KssPowerDO"
			type="com.xuguruogu.auth.dal.dataobject.KssPowerDO" />
	</typeAliases>

	<plugins>
		<plugin interceptor="com.xuguruogu.auth.dal.plugin.TableSegInterceptor" >
		</plugin>
	</plugins>
	
	<mappers>
		<mapper resource="sqlmap/KssAdmin-sqlmap-mapping.xml" />
		<mapper resource="sqlmap/KssLogLogin-sqlmap-mapping.xml" />
		<mapper resource="sqlmap/KssSoft-sqlmap-mapping.xml" />
		<mapper resource="sqlmap/KssKeySet-sqlmap-mapping.xml" />
		<mapper resource="sqlmap/KssOrder-sqlmap-mapping.xml" />
		<mapper resource="sqlmap/KssSoftKey-sqlmap-mapping.xml" />
		<mapper resource="sqlmap/KssSoftUser-sqlmap-mapping.xml" />
		<mapper resource="sqlmap/KssFinance-sqlmap-mapping.xml" />
		<mapper resource="sqlmap/KssStatistics-sqlmap-mapping.xml" />
		<mapper resource="sqlmap/KssPower-sqlmap-mapping.xml" />
	</mappers>



</configuration> 

