<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<tx:annotation-driven transaction-manager="txManager" />
	<!-- 集成mybatis -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis-config.xml" />
	</bean>

	<!-- 配置事务管理器 -->
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean id="txTemplate" class="org.springframework.transaction.support.TransactionTemplate">
		<constructor-arg type="org.springframework.transaction.PlatformTransactionManager" ref="txManager" />
	</bean>

	<!-- json -->
	<bean id="objectMapper " class="com.fasterxml.jackson.databind.ObjectMapper " />

	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />

		<!-- 连接的最大数量 -->
		<property name="maxTotal" value="${jdbc.pool.maxTotal}" />
		<!-- 初始化连接数量 -->
		<property name="initialSize" value="${jdbc.pool.initialSize}" />
		<!-- 空闲时，连接数降低到最小值 -->
		<property name="maxIdle" value="${jdbc.pool.maxIdle}" />
		<!-- 空闲时连接池的最小值 -->
		<property name="minIdle" value="${jdbc.pool.minIdle}" />
		<!-- 最大等待时间 -->
		<property name="maxWaitMillis" value="${jdbc.pool.maxWaitMillis}" />

		<property name="defaultAutoCommit" value="false" />
		<!-- 连接Idle一个小时后超时 -->
		<property name="timeBetweenEvictionRunsMillis" value="3600000" />
		<property name="minEvictableIdleTimeMillis" value="3600000" />
	</bean>

	<!-- jdbc template -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<context:property-placeholder location="classpath:/application.properties" />

</beans>